<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
  <appSettings>
    <add key="LogFile" value="C:\Users\rafael\OneDrive\Ambiente de Trabalho\CleanDNv2.log"/>
    <add key="FolderToProcessFiles" value="C:\Users\rafael\OneDrive\Ambiente de Trabalho\"/>
    <add key="FolderToBackupFiles" value="C:\Users\rafael\OneDrive\Ambiente de Trabalho\Bkp\"/>
    <add key="FolderNonProcessedFiles" value="C:\Users\rafael\OneDrive\Ambiente de Trabalho\Nao.Bkp\"/>
    <add key="FileToProcess" value="BCFI62.LHDIF"/>
    <add key="MaxValue" value="999999999.99"/>
  </appSettings>
</configuration>