<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
  <appSettings>
    <add key="LogFile" value="C:\Users\a897235\OneDrive - Atos\Desktop\CleanDNv2.log"/>
    <add key="FolderToProcessFiles" value="C:\Users\a897235\OneDrive - Atos\Desktop\"/>
    <add key="FolderToBackupFiles" value="C:\Users\a897235\OneDrive - Atos\Desktop\Bkp\"/>
    <add key="FolderNonProcessedFiles" value="C:\Users\a897235\OneDrive - Atos\Desktop\Nao.Bkp\"/>
    <add key="FileToProcess" value="BCFI62.LHDIF"/>
    <add key="MaxValue" value="999999999.99"/>
    <add key="SenderMail" value="IT-Monitoracao-AMS@volkswagen.com.br"/>
    <add key="ServerMail" value="10.135.3.6"/>
    <add key="RecipientMail1" value="rafael.gioffi@atos.net"/>
    <add key="RecipientMail2" value="isaias.barros@atos.net"/>
    <add key="RecipientMail3" value=""/>
    <add key="RecipientMail4" value=""/>
    <add key="RecipientMail5" value=""/>
    <add key="RecipientMail6" value=""/>
    <add key="RecipientMail7" value=""/>
    <add key="RecipientMail8" value=""/>
    <add key="RecipientMail9" value=""/>
    <add key="RecipientMail10" value=""/>
    <add key="SubjectMail" value=" - Monitoração Conta Corrente VW - CleanDNs 2.0"/>
    <add key="SignMail" value="C:\Atos\Rafael\MailAtosSign.png"/>
  </appSettings>
</configuration>